.registration{
  display: flex;
  flex-direction: column;
  padding: 0 40%;

  &__title{
    text-align: center;

  }

  &>.registration-form{
    display: flex;
    flex-direction: column;
    width: auto;

    &> input{
      margin-bottom: 1rem;
    }
  }
}